body {
    font-family: "Anton", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  form {
    text-align: center;
    font-size: 30px;
  }
  
  #lname {
    Font-size: 30px;
  }
  
  body {
    color: white;
  }
  button{
    width:200px;
    height:40px;
    background-color: white;
    color:navy;
  }